html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 12, 29);
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    display: flex;
    height: 90px;
    width: 100%;
}

.navbar-button {
    display: none;
}

.navbar-item{
    display: flex;
    align-items: center;
    color: rgb(0, 100, 255);
    font-size: 30px;
    padding: 30px;
    animation-delay: 2s;
}

.navbar-brand {
    display: flex;
    margin-right: auto;
    margin-left: 20px;
    align-items: center;
    animation-delay: 2s;
}

.navbar-current {
    text-shadow: 0px 0px 10px rgba(0, 100, 255, 1);
}

.header {
    position: relative;
    height: calc(100vh - 90px);
}

.front {
    box-sizing: border-box;
    height: 100%;
    max-width: calc(100vw - 30vh);
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.front-heading {
    color: rgb(0, 100, 255);
    font-size: calc(7vw + 100px);
    margin: 0px;
    animation-delay: 1s;
}

.front-abstract {
    position: absolute;
    top: 0px;
    right: 0px;
    height: calc(100vh - 90px);
    overflow: visible;
}

.front-abstract img {
    height: calc(100vh - 90px);
    animation-delay: 2s;
}

.front-button {
    padding: 10px;
    border: 1px solid rgba(0, 100, 255, 1);
    border-radius: 20px;
    color: rgb(0, 100, 255);
    cursor: pointer;
    transition: text-shadow 0.5s, box-shadow 0.5s, transform 0.1s;
    font-size: 15px;
    animation-delay: 2s;
    background: rgba(0, 0, 0, 0);
    outline: 0;
}

.front-button:hover {
    text-shadow: 0px 0px 10px rgba(0, 100, 255, 1);
    box-shadow: inset 0px 0px 5px rgba(0, 100, 255, 0.5), 0px 0px 5px rgba(0, 100, 255, 0.2);
}

.front-button:active {
    transform: scale(0.95);
}

@media (max-width: 800px) {
    .front {
        max-width: 100%;
    }
    
    .front-abstract {
        right: calc(50vw - 18.75vh);
        /* opacity: 0.5; */
    }

    .front-heading {
        /* filter: drop-shadow(0px 0px 5px black); */
        text-shadow: 0px 0px 10px rgb(0, 12, 29);
    }

    .front-button {
        background: rgba(0, 12, 29, 0.75);
    }

    .navbar {
        box-sizing: border-box;
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-brand {
        height: 50px;
    }

    .navbar-brand img{
        height: 100%;
    }

    .navbar-button {
        display: inline;
        background: transparent;
        border: 0;
        animation-delay: 2s;
    }

    .navbar-item {
        display: none;
    }
}