html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 12, 29);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    -webkit-tap-highlight-color: transparent;
}

.navbar {
    display: flex;
    align-items: center;
    height: 90px;
    width: 100%;
}

.navbar-button {
    display: none;
}

.navbar-item{
    display: flex;
    align-items: center;
    color: rgb(0, 100, 255);
    font-size: 30px;
    padding: 30px;
    animation-delay: 2s;
}

.navbar-brand {
    height: fit-content;
    margin-right: auto;
    height: 70px;
    margin-left: 20px;
    animation-delay: 2s;
}

.navbar-brand img {
    height: 100%;
}

.navbar-current {
    text-shadow: 0px 0px 10px rgba(0, 100, 255, 1);
}

.header {
    position: relative;
    height: calc(100vh - 90px);
}

.front {
    box-sizing: border-box;
    height: 100%;
    max-width: calc(100vw - 30vh);
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.front-heading {
    color: rgb(0, 100, 255);
    font-size: calc(7vw + 100px);
    margin: 0px;
    animation-delay: 1s;
}

.front-abstract {
    position: absolute;
    top: 0px;
    right: 0px;
    height: calc(100vh - 100px);
}

.front-abstract img {
    height: 100%;
    animation-delay: 2s;
}

.front-button {
    padding: 10px;
    border: 1px solid rgba(0, 100, 255, 1);
    border-radius: 20px;
    color: rgb(0, 100, 255);
    cursor: pointer;
    transition: text-shadow 0.5s, box-shadow 0.5s, transform 0.05s;
    font-size: 15px;
    animation-delay: 2s;
    background: transparent;
    outline: 0;
}

.front-button:hover {
    text-shadow: 0px 0px 10px rgba(0, 100, 255, 1);
    box-shadow: inset 0px 0px 5px rgba(0, 100, 255, 0.5), 0px 0px 5px rgba(0, 100, 255, 0.2);
}

.front-button:active {
    transform: scale(0.95);
}

.cards-container {
    display: grid;
    margin: 15px 0px;
    padding: 200px calc(10px + 4vw);
    grid-template-columns: repeat(auto-fill, minmax(calc(300px + 5vw), 1fr));
    grid-auto-rows: minmax(200px, auto);
    background: linear-gradient(rgb(0, 12, 29), rgb(0, 69, 173) 300px, rgb(0, 69, 173) calc(100% - 300px), rgb(0, 12, 29) 100%);
    gap: 50px;
}

.card {
    background-color: rgb(0, 30, 71);
    color: rgb(119, 174, 255);
    text-align: center;
    padding: 20px;
}

.card h3 {
    font-size: 3rem;
}

.card p {
    font-size: 1.5rem;
}

@media (max-width: 800px) {
    .front {
        max-width: 100%;
    }
    
    .front-abstract {
        right: calc(50vw - 18.75vh);
    }

    .front-heading {
        text-shadow: 0px 0px 10px rgb(0, 12, 29);
    }

    .front-button {
        background: rgba(0, 12, 29, 0.75);
    }

    .navbar {
        box-sizing: border-box;
        display: flex;
        padding: 10px;
        height: fit-content;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-brand {
        height: 50px;
        margin: 0;
    }

    .navbar-brand img{
        height: 100%;
    }
    
    .navbar-button {
        display: inline-block;
        background: transparent;
        border: 0;
        padding: 0;
        animation-delay: 2s;
        outline: none;
        height: 30px;
        transition: transform 0.05s;
    }

    .navbar-button img {
        height: 100%;
    }

    .navbar-button:active {
        transform: scale(0.95);
    }

    .navbar-item {
        display: none;
    }
}